body, html {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.card-center {
    padding-bottom: 6rem;
}

.card-list {
    box-sizing: border-box;
    width: 35rem;
    height: 10rem;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    background-image: url("../img/quan_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    border-radius: 1rem;
    align-items: center;
}

.card-list.used {
    background-image: url("../img/quan_bg_ed.png");
}

.card-list .left {
    width: 20%;
    height: 100%;
    line-height: 6.6rem;
    color: #F30D5F;
    font-size: 3rem;
    border-right: 1px solid #DFDFDF;
    font-weight: 500;
}

.left span {
    font-size: 1.6rem;
}

.card-list .middle {
    padding: 0 0.5rem;
}

.middle div:nth-child(1) {
    font-size: 1.8rem;
    color: #000;
    margin-bottom: .5rem;
    font-weight: 500;
    width: 14rem;
    overflow: hidden;
    height: 1.8rem;
}

.middle div:nth-child(2) {
    font-size: 1.2rem;
    color: #999;
}

.middle div:nth-child(3) {
    font-size: 1.4rem;
    color: #AF0DF3;
    margin-top: .5rem;
}

.card-list .right {
    margin-left: auto;
    position: relative;
    height: 100%;
    width: 25%;
}

.right div {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 1rem;
    width: 6.6rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1.6rem;
    color: #F30D5F;
    background-color: #fff;
    border-radius: 6px;
}

.used .right div {
    color: #000;
}

.card-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 100;
}

.card-content {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 2rem 1rem;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 40rem;
    border-radius: 2rem;
    background-color: #fff;
    z-index: 101;
}

.card-content .card-bg {
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 28rem;
    height: 8rem;
    background-image: url("../img/quan_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-content .card-bg .left {
    width: 18rem;
}

.card-content .card-bg .left div:nth-child(1) {
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 6px;
}

.card-content .card-bg .left div:nth-child(2),
.card-content .card-bg .left div:nth-child(3) {
    font-size: 1.2rem;
    color: #999;
    margin-top: 3px;
}

.card-content .card-bg .left div:nth-child(4) {
    font-size: 1.2rem;
    color: #AF0DF3;
    margin-top: 3px;
}

.card-content .card-bg .right {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 6.6rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #F30E60;
    background-color: #fff;
    border-radius: 8px;
    font-size: 1.2rem;
}

.card-content .card-inp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.card-content .card-inp input {
    outline: none;
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    width: 18rem;
    height: 3.8rem;
    line-height: 3.8rem;
    margin-right: 8px;
    text-indent: 1rem;
}

.card-content .card-inp div {
    width: 8rem;
    height: 3.8rem;
    line-height: 3.8rem;
    text-align: center;
    color: #fff;
    background-color: #F30E60;
    border-radius: 8px;
}

.card-content .qrcode {
    width: 16rem;
    height: 16rem;
    display: block;
    margin: 1rem auto 2rem;
}

.card-content .btn-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card-content .btn-wrap div {
    width: 8rem;
    height: 3.8rem;
    line-height: 3.8rem;
    text-align: center;
    border: 1px solid #F30E60;
    color: #F30E60;
    border-radius: 8px;
}

.card-content .btn-wrap div a {
    text-decoration: none;
    color: #F30E60 !important;
}

.card-wrap .card-content .close {
    width: 34px;
    height: 34px;
    position: absolute;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
}

.menu-wrap {
    position: fixed;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu-wrap .btn {
    width: 45%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 22px;
}

.menu-wrap .btn a {
    text-decoration-line: none;
    color: #D02FCF !important;
}

.menu-wrap .btn:nth-child(1) {
    background-color: #FFF;
}

.menu-wrap .btn:nth-child(2) {
    background: linear-gradient(0deg, #CF24EA, #D14B8C);
    color: #fff;
}

.dia-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 99;
}

.message-dia {
    height: 20rem;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 999;
    color: #9E55FF;
    background-image: none;
    background-color: #fff;
    border-radius: 1rem;
    padding: 0;
}

.message-dia .title {
    color: #28062E;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.message-dia .content {
    color: #28062E;
    text-align: center;
    padding: 2rem 0 5rem;
    font-size: 1.6rem;
}

.message-dia .btn-wrap {
    display: flex;
    height: 5rem;
    line-height: 5rem;
    border-top: 1px solid #D1D1DA;
}

.message-dia .btn-wrap div {
    flex: 1;
    text-align: center;
    font-size: 1.6rem;
}

.message-dia .btn-wrap .cancel {
    color: #9494A0;
    border-right: 1px solid #D1D1DA;
}
