html, body, #app {
    width: 100%;
    height: 100%;
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #d129e7;
}

.luck-draw {
    position: absolute;
    top: 27rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 2rem 2rem rgba(255, 255, 255, .3);
    z-index: 20;
}

.info-wrap {
    position: absolute;
    left: 50%;
    bottom: 8rem;
    transform: translateX(-50%);
    width: 95%;
    height: 15rem;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 2rem;
}

.info-wrap .info-title {
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    padding: 1.5rem 0;
}

.info-wrap .wrap {
    height: 9rem;
    overflow: hidden;
}

.info-wrap .user-wrap {
    font-size: 1.4rem;
    color: #fff;
}

.anim {
    transition: all 0.5s;
    margin-top: -2.5rem;
}

.info-wrap .user-wrap .user-list {
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}

.button-wrap {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 2rem;
}

.button-wrap .btn {
    width: 40%;
    height: 4.4rem;
    background-color: #F80056;
    border-radius: 2.2rem;
    text-align: center;
    line-height: 4.4rem;
    color: #fff;
    font-size: 1.8rem;
}

.dia-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 99;
}

.description-dia,
.my-gift-dia,
.get-gift-dia,
.message-dia {
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 33.7rem;
    padding: 6rem 5rem 4rem 8rem;
    height: 36rem;
    background-image: url("../img/dia-bg1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 999;
    color: #9E55FF;
}

.my-gift-dia {
    background-image: url("../img/dia-bg2.png");
}

.description-dia .title,
.my-gift-dia .title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.description-dia .title:nth-child(3),
.my-gift-dia .title:nth-child(3) {
    margin-top: 1.5rem;
}

.description-dia .content,
.my-gift-dia .content {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: auto;
}

.description-dia .btn,
.my-gift-dia .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 19rem;
    margin: 1rem 0 0;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    background: linear-gradient(180deg, #8449C9, #8E36FC);
    border-radius: 1.5rem;
}

.my-gift-list a.toGift,
.my-gift-dia .hadGet {
    text-decoration: none;
    color: #fff !important;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #F80056;
    border-radius: .4rem;
    padding: 0 .5rem;
}

.my-gift-dia .hadGet {
    color: #9E55FF !important;
    background-color: transparent;
}

.get-gift-dia,
.message-dia {
    background-image: none;
    background-color: #fff;
    border-radius: 1rem;
    padding: 0;
}

.get-gift-dia img {
    width: 15rem;
    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
}

.get-gift-dia .content,
.message-dia .content {
    color: #28062E;
    font-size: 1.8rem;
    text-align: center;
    padding: 12rem 0 10rem;
}

.get-gift-dia .content > img,
.message-dia .content > img {
    width: 100%;
    text-align: center;
}

.get-gift-dia .btn-wrap {
    border-top: 1px solid #D1D1DA;
    text-align: center;
    color: #000000;
    font-size: 1.8rem;
    height: 6rem;
    line-height: 6rem;
}

.message-dia {
    height: 20rem;
}

.message-dia .title {
    color: #28062E;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.message-dia .content {
    padding: 2rem 0 5rem;
    font-size: 1.6rem;
}

.message-dia .btn-wrap {
    display: flex;
    height: 5rem;
    line-height: 5rem;
    border-top: 1px solid #D1D1DA;
}

.message-dia .btn-wrap div {
    flex: 1;
    text-align: center;
    font-size: 1.6rem;
}

.message-dia .btn-wrap .cancel {
    color: #9494A0;
    border-right: 1px solid #D1D1DA;
}




