html, body {
    width: 100%;
    height: 100%;
    background-color: #1F1C20;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
}

video::-webkit-media-controls-current-time-display {
    display: none !important;
}

video::-webkit-media-controls-time-remaining-display {
    display: none !important;
}

video.big {
    display: block;
    width: 92%;
    margin: 10px auto;
    border-radius: 8px;
    background-color: #000;
    max-height: 300px;
}

.logo-wrap {
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-wrap img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 6px;
}

.logo-wrap .info {
    font-size: 16px;
    color: #EFF5F8;
}

.info div:nth-child(1) {
    margin-bottom: 10px;
}

.line {
    width: 92%;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
    opacity: 0.12;
}

.description-wrap {
    width: 92%;
    max-height: 200px;
    margin: 20px auto;
    overflow: auto;
    color: #fff;
    border-radius: 10px;
    background-color: #313131;
    padding-bottom: 10px;
}

.description-wrap .des-title {
    text-align: center;
    padding: 20px 0;
}

.description-wrap .des-content {
    padding: 0 10px 10px;
    font-size: 14px;
    line-height: 25px;
}

.dia-wrap .btn-wrap,
.video-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    color: #EFF5F8;
}

.video-btn {
    position: static;
}

.dia-wrap .btn-wrap .msg,
.video-btn .msg {
    font-size: 13px;
    margin-top: 16px;
    color: rgba(255,255,255,.63);
}

.dia-wrap .btn-wrap .send-btn,
.video-btn .send-btn {
    width: 343px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 22px;
    margin: 0 auto;
    background-color: #F30D5F;
}

.dia-wrap .btn-wrap .send-btn a,
.video-btn .send-btn a {
    color: #fff !important;
    text-decoration-line: none;
}

.company-name {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-size: 12px;
    margin-top: 10px;
    color: rgba(255,255,255,.63);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.company-name.share {
    position: static;
    transform: none;
    text-align: center;
}

.company-name img {
    width: 14px;
    margin-right: 5px;
}

.company-name.share img{
    position: static;
    width: 14px;
    margin-right: 5px;
}

.dia-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bg2.png") no-repeat center;
    z-index: 99;
}

.dia-wrap .video-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 550px;
    background-color: #111;
    border-radius: 25px;
}

.dia-wrap .video-wrap>img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
    width: 80px;
    height: 80px;
}

.dia-wrap .video-wrap .video-title {
    padding-top: 60px;
    text-align: center;
    color: #fff;
}

.dia-wrap .video-wrap .video-title div:nth-child(1) {
    font-size: 18px;
    margin-bottom: 10px;
}

.dia-wrap .video-wrap .video-title div:nth-child(2) {
    font-size: 14px;
    margin-bottom: 25px;
}

.dia-wrap .video-wrap .video-title div:nth-child(3) {
    font-size: 16px;
    color: #F9DCA7;
    margin-bottom: 25px;
}

.dia-wrap .video-wrap .small {
    width: 300px;
    max-height: 180px;
    margin: 0 auto;
    display: block;
}

.dia-wrap .description-wrap {
    box-sizing: border-box;
    width: 300px;
    height: 150px;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 20px;
    background-color: rgba(203, 203, 203, .1);
    color: #fff;
}

.dia-wrap .description-wrap .title {
    text-align: center;
    font-size: 16px;
}

.dia-wrap .description-wrap .content {
    font-size: 14px;
    margin-top: 10px;
}

.dia-wrap .btn-wrap {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.dia-wrap .btn-wrap .btn {
    width: 45%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    border-radius: 22px;
}

.dia-wrap .btn-wrap .btn a {
    text-decoration-line: none;
    color: #D02FCF !important;
}

.dia-wrap .btn-wrap .btn:nth-child(1) {
    background-color: #FFF;
}

.dia-wrap .btn-wrap .btn:nth-child(2) {
    background: linear-gradient(0deg, #CF24EA, #D14B8C);
    color: #fff;
}

.card-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 100;
}

.card-content {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px 10px;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background-color: #fff;
    z-index: 101;
}

.card-content .card-bg {
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 280px;
    height: 80px;
    background-image: url("../img/quan_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-content .card-bg .left {
    width: 180px;
}

.card-content .card-bg .left div:nth-child(1) {
    font-size: 18px;
    color: #000;
    margin-bottom: 6px;
}

.card-content .card-bg .left div:nth-child(2),
.card-content .card-bg .left div:nth-child(3) {
    font-size: 12px;
    color: #999;
    margin-top: 3px;
}

.card-content .card-bg .left div:nth-child(4) {
    font-size: 12px;
    color: #AF0DF3;
    margin-top: 3px;
}

.card-content .card-bg .right {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 66px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #F30E60;
    background-color: #fff;
    border-radius: 8px;
    font-size: 12px;
}

.card-content .card-inp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.card-content .card-inp input {
    outline: none;
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    width: 180px;
    height: 38px;
    line-height: 38px;
    margin-right: 8px;
    text-indent: 10px;
}

.card-content .card-inp div {
    width: 80px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background-color: #F30E60;
    border-radius: 8px;
}

.card-content .qrcode {
    width: 167px;
    height: 167px;
    display: block;
    margin: 10px auto;
}

.card-content .btn-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card-content .btn-wrap div {
    width: 80px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #F30E60;
    color: #F30E60;
    border-radius: 8px;
}

.card-content .btn-wrap div a {
    text-decoration: none;
    color: #F30E60 !important;
}

.card-wrap .card-content .close {
    width: 34px;
    height: 34px;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}
